.DS_Store
experiment.py
tmp/
data/BRUSH*
.idea
BRUSH/
runs/
0*
compressed_BRUSH.zip
__pycache__
.vscode
config/__pycache__
new
*.png
writers.zip
model/250000.pt
data/writers
results/*
original_BRUSH.zip
dsd_env/